::-webkit-scrollbar:horizontal {
    display: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    -ms-overflow-style: none;  
    scrollbar-width: none;
    scrollbar-color: #888 #f1f1f1;
}

header {
    color: white;  
}
.navbar {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    position: fixed;
    width: 100%; 
    height: 60px;
    background-color: #303240;
    color: white;
    z-index: 10;
    top: 0;
}
.dash{
    background-color: #1D1E26;
    border-bottom: 3px solid #30B6DD ;
    padding: 20px;  
}

.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
    margin-left: 10px; 
}
.navbar > div {
    display: flex;
    align-items: center; 
}

.navbar nav {
    margin-left: 20px;
}

.navbar nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0; 
}
.personal{
    color: #00aef0;
    border-bottom: 2px solid #00aef0;
    padding: 18px;
}

.navbar nav ul li {
    margin: 0 15px;
}

.navbar nav ul li a {
    color: white; 
    text-decoration: none;
    font-size: 14px;
}
.left-side-bar {
    justify-content: space-around; 
    margin-left: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.left-side-bar > * {
    margin: 0 10px; 
}

.user-info{
    display: flex;
    justify-content: start;
    padding: 10px;
    background-color: #fff;
    color: #474A59;
    font-weight: bold;
    font-size: small;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 60px;
    z-index: 9;
}

.user-info p {
    margin-right: 20px;
}

.add-request {
    color: white;
    border: none;
    font-weight: bold;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #30B6DD;
}
.question {
    color: #ecf0f1;
}
.my-photo{
  
    border-radius:50%;
}
.user-info{
    display: flex;
    justify-content: start;
    padding: 5px;
    background-color: #fff;
    color: #474A59;
    font-weight: bold;
    font-size: small;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.action-required {
    background-color: #E1E3EB;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: inline-block;
    color: #474A59;
    text-align: center;
    line-height: 16px;
    font-size: 12px;
    font-weight: bold;

}
.overview-header {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #474A59;
}

.overview-header h2 {
    font-size: 24px;
    margin: 0;
}

.link a {
    color: #00aef0;
    text-decoration: none;
    cursor: pointer;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    
}


.link a {
    color: #00aef0;
    text-decoration: none;
}

.cards {
    display: flex;
    gap: 10px;
    padding: 20px 0; 
}
.card {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: calc(33.33% - 14px);
    min-width: 200px;
}

.card-header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 2px; 
}

.card-header h3 {
    color: #474A59;
    font-size: 18px;
    margin: 0; 
}

.info-icon {
    font-size: 14px;
    fill: #474A59;
    cursor: pointer;
    margin-left: 10px; 
}

.circle { 
    flex-direction: column;
    border: 8px solid#30B6DD;
    border-radius: 50%;
    width: 150px; 
    height: 150px; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    font-size: 32px; 
    color: #474A59;
    font-weight: bold;
}

.circle p {
    margin: 0;
    font-size: 12px;
    color: #888;
}
.requests{
    margin-bottom: 100px;
}


.request-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #474A59;
}

.request-header h2 {
    font-size: 24px;
    margin: 0;
}


.requests p {
    color: #888;
}

.svg-request{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
    
}
.svg-request p{
    color: #474A59;
    font-weight: bold;
    
}

.requests-container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    
  }
  
  .tabs {
    display: flex;
    /* border-bottom: 1px solid #e0e0e0; */
  
    font-weight: bold;
  }
  
  .tab {
    padding: 15px 15px;
    text-decoration: none;
    color: #474A59;
  }
  
  .tab.active {
    border-bottom: 2px solid #30B6DD;
  }
  
  .count {
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 2px 6px;
    font-size: 0.8em;
    margin-left: 5px;
  }
  .count.fill{
    background-color: #30B6DD;
    color: white;
  }

  
  .requests-table {
    width: 100%;
    border-collapse: collapse;
  }
  .requests-table th{
    background-color: #f4f4f4;
    color: #474A59;
    font-size: 12px;
    
  }
  
  .requests-table th, .requests-table td {
    text-align: left;
    padding: 15px;
    padding-right: 40px;
    border-bottom: 1px solid #e0e0e0;
  }
  .requests-table td{
    color: #858589;
    padding: 15px;
    padding-right: 40px;
  }
  
  .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
  }
  
  .sick-leave {
    background-color: #ff9999;
    border-radius: 50%;
  }
  
  .status {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.9em;
  }
  
  .closed {
    background-color: #e0e0e0;
    color: #666;
  }
  .fa-solid{
    color: #858589;
  }
  .approver-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
  }
  
  .approver-name {
    color: #0099ff;
  }
  .requests-container{
    width: 100%;
   overflow-x: auto;
  }
  .requests-table {
    min-width: 800px;
  }

@media (max-width: 768px) {
    .navbar nav {
        display: none;
    }
    .dash{
        background-color: transparent;
        border-bottom: none;
        padding: 0;
    }
    
    .hamburger {
        display: block; 
    }

    .nav-menu.active {
        display: flex; 
        flex-direction: column; 
        position: absolute;
        background-color: #303240; 
        width: 100%; 
        margin-left: 0;
        top: 50px;
        left: 0; 
    }

    .nav-menu ul {
        flex-direction: column; 
    }

    .nav-menu ul li {
        margin: 10px 0;
    }
    .add-request{
        display: none;
    }
    .question{
        display: none;
    }
    .overview{
        margin: 10px;
    }
   
    .cards {
        display: flex;
        flex-direction: column;
        width: 90%; 
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }
    .requests{
        margin: 10px;
    }

    .requests-container {
        margin: 0 -15px;
        padding: 0 10px;
      }

      .requests-table th, .requests-table td {
        font-size: 12px;
        text-align: left;
        padding: 10px;
        padding-right: 20px;
        border-bottom: 1px solid #e0e0e0;
      }
      .tabs {
        display: flex;
        justify-content: space-around;
        font-weight: bold;
        gap: 4;
      }
      .tab {
        padding: 10px;
        text-decoration: none;
        color: #474A59;
      }

  
   
}
